* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

#welcome {
  text-align: center;
  height: 80vh;
  margin-top: 4em;
  line-height: 2rem;
  color: rgb(27, 27, 27);
}
#welcome h2 {
  font-size: 5em;
  padding: 1em;
}

#rps {
  letter-spacing: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
}

footer {
  background-color: rgb(216, 216, 216);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  padding-top: 14px;
}
#footerDiv {
  text-align: center;
}
.rpsText {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(165, 42, 42, 0.801);
}

#playBtn {
  padding: 0.5rem;
  width: 8rem;
  border-radius: 10px;
  outline: 1px solid rgba(165, 42, 42, 0.801);
  border: none;
  font-size: 1rem;
}

#playBtn:hover {
  cursor: pointer;
  background-color: rgba(165, 42, 42, 0.801);
  color: white;
}
